<?php echo $this->doctype('XHTML1_STRICT');?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<?php echo $this->headMeta();?>
		<?php echo $this->headTitle();?>
		
		<?php $this->headLink()->appendStylesheet(
		$this->baseUrl() . '/css/blueprint/screen.css', 'screen'
		); ?>
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/blueprint/print.css', 'print'
		); ?>
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/blueprint/ie.css', 'screen', 'IE'
		); ?>
		
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/my.css'
		); ?>
		
		
		
		<?php echo $this->headLink();?>
		<script type="text/javascript" src="/js/jquery.js"></script> 
		<script type="text/javascript" src="/js/galleria.js"></script>		
		<script type="text/javascript" src="/js/my.js"></script>
		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-18139245-2']);
		  _gaq.push(['_setDomainName', '.nasutochki.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>	
	
	</head>
	
<body> 
    <div class="container">
   
 		<?php if ($this->identity): ?>
		<?php if (Zend_Registry::get('acl')->isAllowed($this->identity->role, 'flats', 'add')): ?>  
        <div  id="header" style="" class="span-24 last rounded">
        <?php echo $this->city['city_name']; ?>
    		<a href="/">Главная</a> | 
    		<a href="/flats/add">Добавить новый объект</a> | 
    		<a href="/index/options">Настройки</a> | 
    		<a href="/index/districs">Районы</a> | 
    		<a href="/index/owners">Владельцы</a> |  
    		<a href="/index/logout">Выйти</a>
    	</div>
    	
    	<?php endif; ?>
    	<?php else: ?>
    	
    	<?php endif; ?>

    	
    		  <div style="float:left;"><a href="/"><img src='/images/logos/Logo_<?php echo $this->city['city_logo']; ?>' width=220 height=75></img></a></div>
    		<!-- <?php  foreach($this->vip_flats as $vip): ?>
    			<div style="float:left;"><a href="<?php echo '/flats/view/flat_id/'.$vip['flat_id']; ?>"><img class="image_padding" src="/images/thumb/<?php echo $vip['photos']; ?>"/></a></div>
    			<div style="float:left; padding-right:5px; padding-left:5px;">
    				<a href="<?php echo '/flats/view/flat_id/'.$vip['flat_id']; ?>" class="result-title"><?php echo $vip['address']?></a><br/>
    				<span class="result-attributes">Кол-во комнат: <?php echo $vip['rooms_count']?><br/>Cпальных мест: <?php echo $vip['places']?></span><br/>Цена: <b><?php echo $vip['price']?></b> грн
    			</div>
    		<?php endforeach; ?>
--> 
			<div style="float:left;" class="span-11">&nbsp;</div>
    		<div style="float:left;" class="span-7 last phone"><b  style="font-size:2.7em;"><?php echo $this->city['city_phone']; ?></b></div>
    		<h6>&nbsp;<?php if($this->paginator): ?><?php echo $this->paginationControl($this->paginator, 'Sliding', 'partials/totals_paginator.phtml'); echo $this->paginator->firstItemNumber;?><?php endif;?></h6>
		<div id="sidebar" class="span-4">
				<?php if ($this->form_search): ?>
					<b><u style="font-size:1.3em;">Поиск квартиры</u></b>
					<?php echo $this->form_search; ?>
				<?php endif; ?>		
		</div>    	
		<div id="content" class="span-20 last ">
			<div class="simply_border">
				<?php if(isset($this->title)): ?><h2><?php echo $this->title; ?></h2><?php endif;?>
				<?php echo $this->layout()->content; ?>
				<br/>
			</div>
		</div>
		
		<div id="footer" class="span-24 last rounded">
			<div><span>© 2010</span> "На суточки" - Аренда квартир посуточно в г.  <?php echo $this->city['city_name']; ?></div>
			<div>nasutochki.com - <?php echo $this->city['city_address']; ?> тел. <?php echo $this->city['city_phone']; ?></div>
		</div>
    </div> 

</body> 

</html>
