<?php echo $this->doctype('XHTML1_STRICT');?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <?php echo $this->headMeta();?>
    <?php echo $this->headTitle();?>

   <!-- Le styles -->
    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap.css', 'screen');?>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .offset-right {
            margin-right: 10px;
        }

        .optional{padding-left:10px;}

    </style>

    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap-responsive.css', 'screen'); ?>
    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/datepicker.css', 'screen');?>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap-datepicker.js"></script>

    <script src="/js/bootstrap-dropdown.js"></script>

    <script src="/js/bootstrap-modal.js"></script>

    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>

    <!-- Le fav and touch icons -->

<?php echo $this->headLink();?>


</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/contact">Контакты</a></li>
                </ul>
            <?php if ($this->identity): ?>



                    <ul class="nav pull-right">
                        <li class="active" style="margin-top: 9px;">Здравствуйте, <?php print_r($this->identity->owner_name);?></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/index/logout">Выход</a></li>
                    </ul>

            <?php else: ?>

                    <ul class="nav pull-right">
                        <li><a href="/user/login">Вход</a></li>
                    </ul>

            <?php endif; ?>
            </div><!--/.nav-collapse -->
       </div>
    </div>
</div>

<div class="container">
<!-- menu for logged user -->
 <?php if ($this->identity): ?>
    <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>

    <ul class="nav nav-tabs">


        <li <?php if ($this->tab == 'index') echo 'class="active"'; ?>>
            <a href="/user">Статистика</a>
        </li>
        <li <?php if ($this->tab == 'owners') echo 'class="active"'; ?>>
            <a href="/user/owners">Пользователи</a>
        </li>
        <li <?php if ($this->tab == 'adminpayments') echo 'class="active"'; ?>>
            <a href="/user/adminpayments">Выплаты</a>
        </li>
        <li <?php if ($this->tab == 'news') echo 'class="active"'; ?>>
            <a href="/user/news">Новости</a>
        </li>
        <li <?php if ($this->tab == 'promo') echo 'class="active"'; ?>>
            <a href="/user/promo">Промо</a>
        </li>
        <li <?php if ($this->tab == 'leads') echo 'class="active"'; ?>>
            <a href="/user/leads">Лиды</a>
        </li>

    </ul>
    <?php elseif (Zend_Auth::getInstance()->getIdentity()->role == 'user'):?>

        <ul class="nav nav-tabs">
            <li <?php if ($this->tab == 'index') echo 'class="active"'; ?> >
                <a href="/user/index">Статистика</a>
            </li>
            <li <?php if ($this->tab == 'payments') echo 'class="active"'; ?>>
                <a href="/user/payments">Выплаты</a>
            </li>
            <li <?php if ($this->tab == 'news') echo 'class="active"'; ?>>
                <a href="/user/news">Новости</a>
            </li>
            <li <?php if ($this->tab == 'promo') echo 'class="active"'; ?>>
                <a href="/user/promo">Промо</a>
            </li>
            <li <?php if ($this->tab == 'profile') echo 'class="active"'; ?> ><a href="/user/profile">Профиль</a></li>
        </ul>
    <?php endif; ?>


<?php endif; ?>


    <?php if(isset($this->title)): ?><h2 style="float:left;"><?php echo $this->title; ?></h2><?php endif;?>
    <?php echo $this->layout()->content; ?>


    <!-- Main hero unit for a primary marketing message or call to action -->
<hr/>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->

<script>
/*
    $('[rel=popover]').popover({placement : "bottom" });

    $('#username').on('mouseover', function (e) {
        $('[rel=popover]').popover('show');
        // stops modal from being shown

    });

    $('#username').on('mouseover', function (e) {
        $('[rel=popover]').popover('show');
        // stops modal from being shown

    });*/
  /* $('#username').on('mouseout', function (e) {
        $('[rel=popover]').popover('hide');
        // stops modal from being shown

    })*/




</script>
</body>
</html>
