
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<?php echo $this->headMeta();?>
		<?php echo $this->headTitle();?>

		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/blueprint/print.css', 'print'
		); ?>
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/blueprint/ie.css', 'screen', 'IE'
		); ?>
		
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . '/css/my.css'
		); ?>
		
		<?php echo $this->headLink();?>

	</head>
	
<body> 
    <div class="container">
    	
		<span style="font-size:1.8em;margin-bottom:0.75em;font-weight:bold;padding-bottom:30px;"><?php echo $this->flat->address; ?> - <?php echo $this->flat->price;?> грн</span> <span style="padding-left:10px;"><?php echo $this->owners['owner_name'];?> </span>(<span><?php echo $this->owners['owner_phone'];?></span>)<br/>
		<span class="result-attributes">Кол-во комнат: <?php echo $this->flat->rooms_count; ?>&nbsp;&nbsp;&nbsp;Кол-во спальных мест: <?php echo $this->flat->places; ?>&nbsp;&nbsp;&nbsp;<?php if ($this->flat->district_name!=''):?>Район: <?php echo $this->flat->district_name; ?><?php endif; ?></span><br/>
			<!-- <?php echo substr($item['description'],0,275).'...';?><br/> -->	
				
				<?php if($this->flat->fridge):?>
				<img src="/images/icons/fridge.jpg" title="Холодильник"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->iron):?>
				<img src="/images/icons/iron.jpg" title="Утюг"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->hairdryer):?>
				<img src="/images/icons/hairdryer.jpg" title="Фен"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->shearing_machine):?>
				<img src="/images/icons/shearing_machine.jpg" title="Стиральная машина"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->tv):?>
				<img src="/images/icons/tv.jpg" title="Телевизор"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->phone):?>
				<img src="/images/icons/phone.jpg" title="Телефон"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->stove):?>
				<img src="/images/icons/stove.jpg" title="Микроволновая печь"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->bathroom):?>
				<img src="/images/icons/bathroom.jpg" title="Ванна"></img>&nbsp;
				<?php endif?>				

				<?php if($this->flat->shower):?>
				<img src="/images/icons/shower.jpg" title="Душевая кабина"></img>&nbsp;
				<?php endif?>		
				
				<?php if($this->flat->boiler):?>
				<img src="/images/icons/boiler.jpg" title="Водонагреватель"></img>&nbsp;
				<?php endif?>
				
				<?php if($this->flat->parking):?>
				<img src="/images/icons/parking.jpg" title="Парковка возле дома"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->internet):?>
				<img src="/images/icons/internet.jpg" title="Интернет"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->kettle):?>
				<img src="/images/icons/kettle.jpg" title="Электрический чайник"></img>&nbsp;
				<?php endif?>	
															
				<?php if($this->flat->cable_tv):?>
				<img src="/images/icons/cable_tv.jpg" title="Кабельное телевидение"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->conditioner):?>
				<img src="/images/icons/conditioner.jpg" title="Кондиционер"></img>&nbsp;
				<?php endif?>		
				<br/>
				<?php echo $this->flat->owner_name; ?>
				
				<div style="float:left;">
				<?php echo str_replace('height="350"','height="340"',preg_replace('/<br \/><small>(.+)<\/small>/','',$this->flat->map)); ?> <br/> 
					<!--  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Peremogy+Ave,+62,+Kharkiv,+Kharkivs'ka+oblast,+Ukraine&amp;sll=37.548933,-93.570557&amp;sspn=2.264624,5.410767&amp;ie=UTF8&amp;hq=&amp;hnear=Peremogy+Ave,+62,+Kharkiv,+Kharkivs'ka+oblast,+Ukraine&amp;ll=50.058297,36.204869&amp;spn=0.006668,0.021136&amp;z=14&amp;output=embed"></iframe><br /> --> 
					<?php foreach ($this->photos as $photo):?>
						<div style="padding-top:2px; padding-left:3px; float:left;"><img src="/images/thumb/<?php echo $photo['photo']; ?>"/></img></div>
					<?php endforeach; ?>
			</div>
			 <div style="padding-left:5px;"><?php echo $this->flat->nearest_places; ?></div> <br/>
			 <div style="padding-left:5px;"><?php echo $this->flat->description; ?></div> 
		
    </div> 
	
</body> 

</html>
