<script>
  $(document).ready(function() {
  $('tr:nth-child(even)').addClass('lightgray');
});
  </script>
<div class="container ">
<div style="float:left;" class="span-18 border">
	<?php echo $this->form; ?>
</div>
<div style="float:left;" class="span-5">


<?php if(count($this->photos)>0):?>
<?php endif;?>

<?php foreach($this->photos as $photo):?>
 <div class="border_img" style="padding-left:10px;">
<img src="<?php echo '/images/thumb/'.$photo['photo'];?>"></img><br/>
<a href="<?php echo $this->url(array(
						'controller' => 'flats',
						'action'	 => 'deletephoto',
						'photo_id'	=> $photo->photo_id
				));?>" >Удалить</a><br/><br/>

</div>
<?php endforeach ?>
</div>
</div>