
<span style="font-size:1.8em;margin-bottom:0.75em;font-weight:bold;padding-bottom:30px;"><?php echo $this->flat->address; ?></span>&nbsp;&nbsp;&nbsp;<?php if ($this->identity): ?><?php if (Zend_Registry::get('acl')->isAllowed($this->identity->role)): ?>  <a href="<?php echo '/flats/edit/flat_id/'.$this->flat->flat_id; ?>" class="not_underlined">Редактировать</a><?php endif; ?><?php endif; ?><br/>
<div  style="width:413px;" class="hdg goog-tab-bar id-trends"> 
<div id="photo_div" class="goog-tab  goog-tab-selected"><a onclick="showPhoto();" id="l_tm_zeitgeist" class=t><b class=t><b class=t>Фото</b></b></a></div> 
<div id="map_div" class="goog-tab"><a onclick="showMap();" id="l_tm_price" class=t><b class=t><b class=t>Карта</b></b></a></div> 
<!-- <div id="book_book" class="goog-tab"><a id="l_tm_mcap" class=t><b class=t><b class=t>Забронировать</b></b></a></div>  --> 
</div> 
<!-- 
        <a style="text-decoration: none;
        display: inline-block;
        border-bottom: 1px dashed blue;
        color: blue;" onclick="showPhoto();" href="#">Фото</a>
        &nbsp;&nbsp;&nbsp;<a href="#" style="text-decoration: none;
        display: inline-block;
        border-bottom: 1px dashed blue;
        color: blue;" onclick="showMap();">Карта</a>
 -->
<div style="height:0.08em;"></div>

	
	<div id="map" style="float:left; padding-right:5px;">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?s=&f=q&ie=UTF8&source=s_q&t=s&hl=ru&geocode=&q=<?php echo urlencode($this->flat->address." ".$this->city['city_name']." Украина"); ?>&hnear=<?php echo urlencode($this->flat->address." ".$this->city['city_name']." Украина"); ?>&hq=&view=map&hq=&z=15&output=embed"></iframe>
	</div>
	
	<div id="demo" style="display:block; float:left;padding-right:5px;width:425px;">
	<?php if(count($this->photos)): ?>
		
		<?php foreach($this->photos as $photo): ?>
	    	<img src="<?php echo '/images/real/'.$photo->photo; ?>" > 
	    <?php endforeach ?> 
	   
	  </div> 
	<?php endif ?>


 
<div style="vertical-align:top; float:left; width:350px;"> 
<b>Количество комнат: </b><?php echo $this->flat->rooms_count; ?>
<div style="padding-top:10px;"><hr/></div>

<b>Количество спальных мест: </b><?php echo $this->flat->places; ?>
<div style="padding-top:10px;"><hr/></div>

<?php if($this->flat->location): echo $this->flat->location; ?>
<div style="padding-top:10px;"><hr/></div>

<?php endif ?>

<?php if($this->flat->nearest_places): echo $this->flat->nearest_places; ?>
<div style="padding-top:10px;"><hr/></div>

<?php endif ?>
<p>В квартире есть:</p>
				<?php if($this->flat->fridge):?>
				<img src="/images/icons/fridge.jpg" title="Холодильник"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->iron):?>
				<img src="/images/icons/iron.jpg" title="Утюг"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->hairdryer):?>
				<img src="/images/icons/hairdryer.jpg" title="Фен"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->shearing_machine):?>
				<img src="/images/icons/shearing_machine.jpg" title="Стиральная машина"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->tv):?>
				<img src="/images/icons/tv.jpg" title="Телевизор"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->phone):?>
				<img src="/images/icons/phone.jpg" title="Телефон"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->stove):?>
				<img src="/images/icons/stove.jpg" title="Микроволновая печь"></img>&nbsp;
				<?php endif?>

				<?php if($this->flat->bathroom):?>
				<img src="/images/icons/bathroom.jpg" title="Ванна"></img>&nbsp;
				<?php endif?>				

				<?php if($this->flat->shower):?>
				<img src="/images/icons/shower.jpg" title="Душевая кабина"></img>&nbsp;
				<?php endif?>		
				
				<?php if($this->flat->boiler):?>
				<img src="/images/icons/boiler.jpg" title="Водонагреватель"></img>&nbsp;
				<?php endif?>
				
				<?php if($this->flat->parking):?>
				<img src="/images/icons/parking.jpg" title="Парковка возле дома"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->internet):?>
				<img src="/images/icons/internet.jpg" title="Интернет"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->kettle):?>
				<img src="/images/icons/kettle.jpg" title="Электрический чайник"></img>&nbsp;
				<?php endif?>	
															
				<?php if($this->flat->cable_tv):?>
				<img src="/images/icons/cable_tv.jpg" title="Кабельное телевидение"></img>&nbsp;
				<?php endif?>	
				
				<?php if($this->flat->conditioner):?>
				<img src="/images/icons/conditioner.jpg" title="Кондиционер"></img>&nbsp;
				<?php endif?>	
<div style="padding-top:10px;"><hr/></div>


<b>Стоимость за сутки: </b><span class="main_price"><?php echo $this->flat->price; ?> грн </span>
<div style="padding-top:10px;"><hr/></div>

</div>
 <table style="padding-top:5px;">
<tr>
<td colspan=2>

<div class="span-20 last">
<?php if($this->flat->repairing): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>Ремонт</h4>
<span style="padding-left:10px;"><?php echo $this->flat->repairing ?></span>
</div>
<?php endif ?>
<?php if($this->flat->comfort): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>Комфорт</h4>
<span style="padding-left:10px;"><?php echo $this->flat->comfort ?></span>
</div>
<?php endif ?>
<?php if($this->flat->tehnika): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>Техника</h4>
<span style="padding-left:10px;"><?php echo $this->flat->tehnika ?></span>
</div>
<?php endif ?>
<?php if($this->flat->tv_internet): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>ТВ и Интернет</h4>
<span style="padding-left:10px;"><?php echo $this->flat->tv_internet ?></span>
</div>
<?php endif ?>
<?php if($this->flat->sleeping_place): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>Спальные места</h4>
<span style="padding-left:10px;"><?php echo $this->flat->sleeping_place ?></span>
</div>
<?php endif ?>
<?php if($this->flat->description): ?>
<br/>
<div style="background:#ddd; padding-left:5px;">
<h4>Описание</h4>
<span style="padding-left:10px;"><?php echo $this->flat->description ?></span>
</div>
<br/>
<?php endif ?>



</td></tr>

</table>
 
   <script> 
    Galleria.loadTheme('/js/themes/classic/galleria.classic.js');
    $('#demo').galleria({
        height:369
    });
    </script> 
    
    <script type="text/javascript">
		$(function(){
			$("#district_id").multiselect({header: false});
		});
	</script>

    