<div class="clearfix"></div>

<?php echo $this->form_searchpayments; ?>
<table class="table table-striped table-bordered ">
    <thead>
    <tr >
        <th >Дата</th>
        <th >Пользователь</th>
        <th >Платежные данные</th>
        <th >Сумма (RUR)</th>
        <th >Описание</th>
        <th >Статус</th>

    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

    <?php foreach ($this->paginator as $item): ?>

        <tr>
            <td><?php echo date('d-m-Y', strtotime($item['date'])); ?></td>
            <td><?php echo $item['email'] ?></td>
            <td><?php echo $item['owner_payment'] ?></td>
            <td><?php echo $item['amount'] ?></td>
            <td id="description" det="<?php echo $item['id'];?>"><?php echo $item['details'] ?></td>
            <td>
            <div class="btn-group">

                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="user_payment_<?php echo $item['id']; ?>">

                    <?php
                          if($item['status'] == "Pending")
                              echo 'В ожидании';
                          if($item['status'] == "Paid")
                              echo "Выплачен";
                          if($item['status'] == "Declined")
                              echo "Отменен";
                    ?>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setStatusPayment(<?php echo $item['id']; ?>,'Paid');">Выплачен</a></li>
                    <li><a href="#" onclick="setStatusPayment(<?php echo $item['id']; ?>,'Declined');">Отменен</a></li>
                </ul>

            </div>
            </td>
        </tr>

    <?php endforeach?>

    <?php else: ?>
    <tr>
        <td colspan=7 style="text-align: center;"> Нет данных</td>

    </tr>

    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>

<script>


    function setStatusPayment(id, status){

        $.ajax({
            url: "/ajax/setpaymentstatus",
            type: "POST",
            dataType : "json",
            data: { id: id, status:status},
            success: function (data) {

                $('#user_payment_'+id).html(((status=='Paid')?'Выплачен':'Отменен')+' <span class="caret"></span>');
            }
        });

    }


    $(function()	{
        $('td#description').click(function(e)	{
            //ловим элемент, по которому кликнули
            var t = e.target || e.srcElement;
            //получаем название тега
            var elm_name = t.tagName.toLowerCase();
            //если это инпут - ничего не делаем
            if(elm_name == 'input')	{return false;}
            var val = $(this).html();
            var code = '<input type="text" id="edit" class="input-medium" value="'+val+'" />';
            $(this).empty().append(code);
            $('#edit').focus();
            $('#edit').blur(function()	{
                alert(t);
                var val = $(this).val();
                $(this).parent().empty().html(val);
            });
        });
    });

    $(window).keydown(function(event){
        //ловим событие нажатия клавиши
        if(event.keyCode == 13) {	//если это Enter
            $('#edit').blur();	//снимаем фокус с поля ввода
        }
    });

    $(function(){

        $('#dp1').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp1').datepicker()
            .on('changeDate', function(ev){
                $('#dp1').datepicker('hide');
                $('#dp2').datepicker('show');
            });
        $('#dp1').datepicker()
            .on('click', function(){
                $('#dp2').datepicker('hide');
                $('#dp1').datepicker('show');
            });

        $('#dp2').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp2').datepicker()
            .on('changeDate', function(ev){
                $('#dp2').datepicker('hide');
            });
        $('#dp2').datepicker()
            .on('click', function(){
                $('#dp2').datepicker('show');
            });
    });
</script>
