<?php if (Zend_Auth::getInstance()->getIdentity()->role != 'admin'):?>
    <h2 style="float:right; ">&nbsp;&nbsp;&nbsp;Баланс: <?php echo $this->balance; ?> RUR</h2>
<?php endif; ?>

<div class="clearfix"></div>

<?php echo $this->form_search; ?>
<table class="table table-striped table-bordered ">
    <thead>
    <tr >
        <th rowspan=2>Дата</th>
        <th rowspan=2>Всего посетителей</th>
        <th rowspan=2>Уникальных посетителей</th>
        <th style="text-align: center;" colspan=4>Лиды</th>
        <th rowspan=2>Конверсия</th>
        <th rowspan=2>Средняя стоимость (лида)</th>
        <th rowspan=2>Доход (RUR)</th>
    </tr>
    <tr>
        <th>Всего</th>
        <th>Новые</th>
        <th>Утвержденные</th>
        <th>Отклоненные</th>
    </tr>
    </thead>
<?php if(count($this->paginator)) : ?>


     <?php foreach ($this->paginator as $item): ?>
        <tr>
            <td>
                <?php echo date('d-m-Y', strtotime($item['day'])); ?>
            </td>
            <td>
                <?php echo $item['visitors_total']; ?>
            </td>
            <td>
                <?php echo $item['uniques']; ?>
            </td>
            <td>
                <?php echo $item['leads_total']; ?>
            </td>
            <td>
                <?php echo $item['leads_new']; ?>
            </td>
            <td>
                <?php echo $item['leads_approved']; ?>
            </td>
            <td>
                <?php echo $item['leeds_declined']; ?>
            </td>
            <td>
                <?php echo $item['conversion']; ?>
            </td>
            <td>
                <?php echo $item['avrg_cost']; ?>
            </td>
            <td>
                <?php echo $item['income']; ?>
            </td>
        </tr>

    <?php endforeach?>

<?php else: ?>
    <tr>
       <td colspan=10 style="text-align: center;"> Нет данных</td>

    </tr>

<?endif;?>
    </table>

    <?php if(count($this->paginator)) : ?>
        <div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
    <?php endif; ?>
<script>

    $('#email').typeahead({
        source: <?php echo $this->users; ?>,
    });



    $(function(){

        $('#dp1').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp1').datepicker()
            .on('changeDate', function(ev){
                $('#dp1').datepicker('hide');
                $('#dp2').datepicker('show');
            });
        $('#dp1').datepicker()
            .on('click', function(){
                $('#dp1').datepicker('show');
            });

        $('#dp2').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp2').datepicker()
            .on('changeDate', function(ev){
                $('#dp2').datepicker('hide');
            });
        $('#dp2').datepicker()
            .on('click', function(){
                $('#dp2').datepicker('show');
            });
    });
</script>