<div class="clearfix"></div>

<?php echo $this->form_search; ?>



<div class="modal" id="myModal_log" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Статистика зменений</h3>

    </div>
    <div class="modal-body form-inline well-small">

        <table class="table table-bordered table-striped"><thead><tr ><th>Имя</th><th>Дата</th><th>Статус</th><th>Стоимость</th></tr></thead><tbody id="log_content"></tbody></table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>


<div class="modal" id="myModal_input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Стоимость лида</h3>

    </div>
    <div class="modal-body form-inline well-small">
        <label class="optional">Стоимость лида: </label> <input type="text" class="well-small" id="costs" value="" name="costs" >
        <input type="hidden" id="id_forcancel" name="id" value="">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button class="btn btn-primary" onclick="setStatus($('#id_forcancel').val(),'Approved', 'Утвержденный', '', $('#costs').val());">Сохранить</button>
    </div>
</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Причина отклонения</h3>

    </div>
    <div class="modal-body form-inline well-small">
        <label class="optional">Причина отклонения: </label> <input type="text" id="reason_cancel" value="" name="reason_cancel" value="">
        <input type="hidden" id="id_forcancel" name="id" value="">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button class="btn btn-primary" onclick="setStatus($('#id_forcancel').val(),'Declined', 'Отмененный', $('#reason_cancel').val());">Сохранить</button>
    </div>
</div>

<script>



</script>

<table class="table table-bordered table-striped">
    <thead>
    <tr >
        <th >#</th>
        <th >Лендинг</th>
        <th >Данные</th>
        <th width=20%>Дата создания</th>
        <th width=25%>Дата послед. изменения</th>
        <th width=20%>Детали</th>
        <th width=5%>Действия</th>
    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>
    <?php

        $array_statues = array('New'=>'Новый', 'Processing'=>'В работе', 'Approved'=>'Утвержденный', 'Declined'=>'Отмененный');

    ?>
    <?php foreach ($this->paginator as $item): ?>

        <tr>
            <td width=10%><?php echo $item['ld_id']; ?></td>
            <td ><?php echo $item['name']; ?></td>
            <td><?php $data = unserialize($item['data']); foreach($data as $key=>$d) echo '<b>'.$key.'</b> : '. $d.'<br/>'; ?></td>
            <td><?php echo $item['date']; ?></td>
            <td><?php echo $item['lastupdate']; ?></td>
            <td><?php echo $item['details']; ?></td>
            <td width=20%>

                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="lead_status_<?php echo $item['ld_id']; ?>">
                        <?php echo $array_statues[$item['status']]; ?> <?php if($item['status'] =='Approved') echo '('.$item['income'].')';?>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                            <li><a href="#" onclick="setStatus(<?php echo $item['ld_id']; ?>,'New','Новый');">Новый</a></li>

                            <li><a href="#" onclick="setStatus(<?php echo $item['ld_id']; ?>,'Processing', 'В работе');">В работе</a></li>

                            <li><a href="#" onclick="
                                <?php if($item['costs'] != 0):?>
                                    setStatus(<?php echo $item['ld_id']; ?>,'Approved', 'Утвержденный');
                                <?php else: ?>
                                    $('#id_forcancel').attr('value',<?php echo $item['ld_id']; ?>);  $('#myModal_input').modal('show');
                                <?php endif; ?>
                                ">Утвержденный <?php if($item['status'] =='Approved') echo '('.$item['income'].')';?></a>
                            </li>

                            <li><a href="#" onclick="$('#id_forcancel').attr('value',<?php echo $item['ld_id']; ?>);  $('#myModal').modal('show');">Отмененный</a></li>

                        <li class="divider"></li>
                        <!-- <li><a href="#" onclick="deleteLanding(<?php echo $item['ld_id']; ?>);">Удалить</a></li> -->
                        <li><a href="#" onclick="getLog(<?php echo $item['ld_id']; ?>);">Показать лог</a></li>
                    </ul>

                </div>
                <div id="log_<?php echo $item['ld_id']; ?>"></div>
            </td>
        </tr>
        <?php endforeach?>
    <?php else: ?>
    <tr>
        <td colspan=7 style="text-align: center;"> Нет данных</td>

    </tr>

    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>


<script>

    $('.dropdown-toggle').dropdown();
    $(function(){

        $('#dp1').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp1').datepicker()
            .on('changeDate', function(ev){
                $('#dp1').datepicker('hide');
                $('#dp2').datepicker('show');
            });
        $('#dp1').datepicker()
            .on('click', function(){
                $('#dp1').datepicker('show');
            });

        $('#dp2').datepicker({
            format: 'dd-mm-yyyy'
        });
        $('#dp2').datepicker()
            .on('changeDate', function(ev){
                $('#dp2').datepicker('hide');
            });
        $('#dp2').datepicker()
            .on('click', function(){
                $('#dp2').datepicker('show');
            });
    });
</script>

<script>

    /*
function deleteLanding(id){
    if (confirm("Вы действительно хотите удалить запись?")) {
        $.ajax({
            url: "/ajax/deletelending",
            type: "POST",
            dataType : "json",
            data: { id: id},
            success: function (data) {
                window.location="/user/leads";
            }
        });
    }

}*/


function setStatus(id, status, rustatus, details, costs){

    $.ajax({
        url: "/ajax/setstatus",
        type: "POST",
        dataType : "json",
        data: { id: id, status:status, details:details, costs:costs},
        success: function (data) {
            $('#lead_status_'+id).html(rustatus+' <span class="caret"></span>');
            $('#myModal').modal('hide');
            $('#myModal_input').modal('hide');

        }
    });

}

function getLog(id){

    $.ajax({
        url: "/ajax/showlog",
        type: "POST",
        dataType : "html",
        data: { id: id},
        success: function (data) {

            $('#log_content').html(data);
            $('#myModal_log').modal('show');


        }
    });

}

$('#myModal_log').modal();
$('#myModal_log').modal('hide');

$('#myModal_input').modal();
$('#myModal_input').modal('hide');
$('#myModal_input').on('show', function () {
    $('#costs').attr('value','');
});

$('#myModal').modal();
$('#myModal').modal('hide');
$('#myModal').on('show', function () {
    $('#reason_cancel').attr('value','');
});

</script>