<?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
<a href="/user/addnews"  class="btn btn-primary" style="float:right">Добавить новость</a>
<?php endif; ?>

<table class="table table-bordered table-striped">
    <thead>
    <tr >
        <th >Дата</th>

        <th >Описание</th>
        <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
            <th></th>
        <?php endif; ?>

    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

    <?php foreach ($this->paginator as $item): ?>

        <tr>
            <td width=10%><?php echo date('d-m-Y', strtotime($item['date'])); ?></td>
            <td><?php echo $item['description'] ?></td>
            <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
                <td width=20% style="vertical-align:middle;">
                    <a href="/user/deletenews/id/<?php echo $item['id']; ?>" class="btn btn-mini  btn-danger" >Удалить</a>
                    <a  href="/user/addnews/id/<?php echo $item['id']; ?>" class="btn btn-mini  btn-success" type="button">Редактировать</a>
                </td>
            <?php endif; ?>

        </tr>

        <?php endforeach?>

    <?php else: ?>
    <tr>
        <td colspan=32 style="text-align: center;"> Нет данных</td>

    </tr>

    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>
