<div class="clearfix"></div>

<?php echo $this->form_search; ?>

<table class="table table-striped table-bordered ">
    <thead>
    <tr >
        <th >Пользователь</th>
        <th >Действия</th>
    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

    <?php foreach ($this->paginator as $item): ?>
        <tr>
            <td><?php echo $item['email'] ?></td>
            <td>
                <div class="btn-group">

                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="user_status_<?php echo $item['owner_id']; ?>">
                        <?php echo $item['activated'] == 1?'Активен':'Заблокирован'; ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="setStatusUser(<?php echo $item['owner_id']; ?>,0);">Заблокировать</a></li>
                        <li><a href="#" onclick="setStatusUser(<?php echo $item['owner_id']; ?>,1);">Активировать</a></li>
                        <?php if ($item['role'] == 'user'):?>
                            <li><a href="#" onclick="setRoleUser(<?php echo $item['owner_id']; ?>,'operator');">Назначить оператором</a></li>
                        <?php elseif ($item['role'] == 'operator'): ?>
                            <li><a href="#" onclick="setRoleUser(<?php echo $item['owner_id']; ?>,'user');">Назначить пользователем</a></li>
                        <?php endif; ?>
                    </ul>

                </div>
            </td>
        </tr>

        <?php endforeach?>
    <?php else: ?>
    <tr>
        <td colspan=2 style="text-align: center;"> Нет данных</td>

    </tr>
    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>

<script>

    function setStatusUser(id, status){

        $.ajax({
            url: "/ajax/setuserstatus",
            type: "POST",
            dataType : "json",
            data: { owner_id: id, activated:status},
            success: function (data) {

                $('#user_status_'+id).html((status?'Активен':'Заблокирован')+' <span class="caret"></span>');
            }
        });

    }

    $('#email').typeahead({
        source: <?php echo $this->users; ?>,
    });

    function setRoleUser(id, role){

        $.ajax({
            url: "/ajax/setuserrole",
            type: "POST",
            dataType : "json",
            data: { owner_id: id, role:role},
            success: function (data) {


            }
        });

    }

    $('#email').typeahead({
        source: <?php echo $this->users; ?>,
    });

</script>
