<table class="table table-striped table-bordered ">
    <thead>
    <tr >
        <th >Дата</th>
        <th >Сумма (RUR)</th>
        <th >Описание</th>
        <th >Статус</th>
    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

        <?php foreach ($this->paginator as $item): ?>

            <tr>
                <td><?php echo date('d-m-Y', strtotime($item['date'])); ?></td>
                <td><?php echo $item['amount'] ?></td>
                <td><?php echo $item['details'] ?></td>
                <td><?php echo $item['status'] ?></td>
            </tr>

        <?php endforeach?>

    <?php else: ?>
    <tr>
        <td colspan=4 style="text-align: center;"> Нет данных</td>

    </tr>

    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
    <div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>
