<?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
<a href="/user/addpromo"  class="btn btn-primary" style="float:right">Добавить промо</a>
<?php endif; ?>


<table class="table table-striped table-bordered ">
    <thead>
    <tr >
        <th width=20>#</th>

        <th >Описание</th>

        <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
        <th></th>
        <?php endif; ?>


    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

    <?php foreach ($this->paginator as $item): ?>

        <tr>
            <td><?php echo $item['id'] ?></td>
            <td><b><?php echo $item['name'] ?></b><br/><a href="<?php echo $item['url'].'?user_id='.Zend_Auth::getInstance()->getIdentity()->owner_id; ?>"><?php echo $item['url'].'?user_id='.Zend_Auth::getInstance()->getIdentity()->owner_id; ?></a><br/><?php echo $item['description'] ?></td>
            <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
            <td width=20%>
                <a  href="/user/addpromo/id/<?php echo $item['id']; ?>" class="btn btn-mini  btn-success" type="button">Редактировать</a>
            </td>
            <?php endif; ?>

        </tr>

        <?php endforeach?>

    <?php else: ?>
    <tr>
        <td colspan=2 style="text-align: center;"> Нет данных</td>

    </tr>

    <?endif;?>
</table>

<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>
