<?php if ($this->pageCount): ?>
<div style="float:right;">Квартиры <b><?php if(!($this->current-1)*$this->itemCountPerPage) echo "1"; else echo ($this->current-1)*$this->itemCountPerPage+1; ?> - <?php if($this->current*$this->itemCountPerPage>$this->totalItemCount) echo $this->totalItemCount; else echo ($this->current*$this->itemCountPerPage);?></b> из <b><?php echo $this->totalItemCount;?> объекта(ов)</b></div>
<?php endif; ?>
